*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}
.stats-content{
  margin-top: 20px;
}
.stat-card{
  color:#fff;
  min-height: 15vh;
  background: -webkit-linear-gradient(left, #FA5A5A,#303030 );
  background: linear-gradient(to right, #FA5A5A, #303030);
}
.stat-card:hover{
  background: -webkit-linear-gradient(left, #303030,#FA5A5A );
  background: linear-gradient(to right, #303030,#FA5A5A );
}
.graph-card{
  margin-top: 20px;
  min-height: 37vh;
}
