/*h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}*/
.row-div{
  height:50vh;
  max-height:50vh;
}
.card-etat{
  width: 100%;
  margin-top: 15px;
}
.prod tr td{
font-size:22px;
}
.livrr  tr td{
font-size:18px;
}